.profile {
  margin-top: 30px;
  height: 600px;
  width: 400px;
  border: 1px solid #b5b3b3;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  height: 130px;
  padding-top: 30px;
}

.name,
.tag,
.location {
  font-size: x-large;
}

.name {
  font-size: xx-large;
  font-weight: bold;
}

.location,
.tag {
  color: rgb(131, 128, 128);
}

.location {
  padding-bottom: 70px;
}

.stats {
  display: flex;
  list-style: none;
  font-size: large;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 10px;
  background-color: #b5b3b3;
}

.stats > * {
  margin-right: 10px;
}

.label {
  color: rgb(131, 128, 128);
}

.quantity {
  font-weight: bold;
}
